.carousel-position {
    padding: 3%;
    background: linear-gradient(to bottom, #E6DFD1, #D1C6B4);

}
.carousel-image {
    -webkit-box-shadow: 5px 7px 9px 0px #b6a990; 
    box-shadow: 5px 7px 9px 0px #b6a990;
}
