.footer-management {
    background-color: #7EADAC;
    width: 100%;
    height: 150px;
    margin-top: 6%;
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-footer {
    text-align: center;
    position: relative;
}

.flag-footer {
    width: 150px;
    height: auto;
    position: absolute;
    left: 50%;
    top: -80px; // Décale le drapeau vers le haut en dehors du footer
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.discover-indonesia {
    color: white;
    font-size: 1.2rem;
    margin-top: 40px; // Ajuste pour espacer le texte du drapeau
    font-weight: bold;
}
.who-i-am-link {
    color: white;    
    text-decoration: none; // Enlève le soulignement
}


